<div class="form-group">
    <label for="name" class="col-sm-2 control-label">App Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="app.name" class="form-control" id="name" placeholder="App Name Here"/>
        <span class="text-danger" ng-show="error.name[0]" > {{error.name[0]}} </span>
    </div>
</div>
<div class="form-group">
    <label for="app_id" class="col-sm-2 control-label">App id</label>
    <div class="col-sm-10">
        <input type="text" ng-model="app.app_id" class="form-control" id="app_id" placeholder="APP ID Here "/>
        <span class="text-danger" ng-show="error.app_id[0]" > {{error.app_id[0]}} </span>
    </div>
</div>
<div class="form-group">
    <label for="secret_app_id" class="col-sm-2 control-label">App secret ID</label>
    <div class="col-sm-10">
        <input type="text" ng-model="app.secret_app_id" class="form-control" id="secret_app_id" placeholder="App secret id Here "/>
        <span class="text-danger" ng-show="error.secret_app_id[0]" > {{error.secret_app_id[0]}} </span>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>