<div class="animate zoomInUp">
    <div class="x_panel">
        <div class="x_title">
            <h2> Access Token Section </h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <a  ng-click="createApp()" class=" btn btn-primary btn-sm nodecoration pull-right">Add New Facebook App</a>
            <table class="table ">
                <tr>
                    <td><h3>ALL Facebook Apps</h3></td>
                    <td></td>
                </tr>
                <tr ng-repeat="app in apps">
                    <td>{{app.name}}</td>
                    <td>
                        <a class="btn btn-primary" ng-click="editApp(app)">Edit</a>
                        <a class="btn btn-danger"  ng-click="deleteApp(app)">Delete</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<!-- Token Modal -->
<div class="modal fade" id="tokenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div ng-include="template"></div>
            <div class="modal-footer">
                <span> be habby </span>
            </div>
        </div>
    </div>
</div>

