<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New Facebbok Post </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" ng-submit="addPost()">
        <div ng-include="'htmls/posts/_form.html'"></div>
    </form>
</div>