<div class="form-group col-md-10">
    <label for="page_id" class="col-md-3 control-label"> Facebook Page</label>
    <div class="col-md-9">
        <select ng-model="post.page_id" id="page_id" class="form-control">
            <option  ng-selected="{{page.id == post.page_id}}" ng-repeat="page in pages" value="{{page.id}}" class="form-control">
                {{page.name}}
            </option>
        </select>
    </div>
</div>

<div class="form-group col-md-6">
    <label for="message" class="col-md-3 control-label"> message : </label>
    <div class="col-md-9">
        <textarea ng-model="post.message" id="message" class="form-control" rows="3"></textarea>
        <span class="text-danger" ng-show="error.message[0]" > {{error.message[0]}} </span>
    </div>
</div>

<div class="form-group col-md-6">
    <label for="description" class="col-md-3 control-label">description : </label>
    <div class="col-md-9">
        <textarea ng-model="post.description" id="description" class="form-control" rows="3"></textarea>
        <span class="text-danger" ng-show="error.description[0]" > {{error.description[0]}} </span>
    </div>
</div>

<hr/>
<p>More Info:</p>
<div class="form-group ">
    <label  class="col-md-2 control-label">type : </label>
    <label class="col-md-10 "> {{post.type}}</label>
</div>
<div class="form-group ">
    <label  class="col-md-2 control-label">source : </label>
    <label class="col-md-10 "> {{post.source}}</label>
</div>
<div class="form-group ">
    <label  class="col-md-2 control-label">link : </label>
    <label class="col-md-10 "> {{post.link}}</label>
</div>

<div class="form-group ">
    <div class="col-md-offset-2 col-md-10 ">
        <input type="submit" class="btn btn-primary pull-right" value="Save"/>
    </div>
</div>
