<div class="animate zoomInUp ">
    <div class="x_panel">
        <div class="x_title">
            <h2> Access Token Section </h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="x_content">

                <div class="row">
                <div class="row">
                    <p>Media gallery design emelents</p>
                    <a  ng-click="createPost()" class=" btn btn-primary btn-sm pull-right nodecoration">Add New Facebook Post</a>
                </div>
                    <div class="row center-block">
                        <a  ng-click="setStatus(0)" ng-desplay class="btn btn-info btn-sm  nodecoration">Status 0</a>
                        <a  ng-click="setStatus(1)" class="btn btn-info btn-sm  nodecoration">Status 1</a>
                        <a  ng-click="setStatus(4)" class="btn btn-info btn-sm  nodecoration">Status 4</a>
                        <a  ng-click="" class=" btn btn-info btn-sm  nodecoration">status Success</a>
                    </div>
                    <br/>
                    <div class="col-md-1" ng-repeat="post in posts | filter: {status:statu}">
                        <div class="thumbnail" STYLE="max-height: 80px">
                            <div class="image view view-first" STYLE="max-height: 50px" >
                                <img style="width: 100%; display: block;" ng-src="img/{{post.type}}.png" alt="image">
                            </div>
                            <div class="inline-block" style="padding-top: 5px;">
                                    <a  class="fa  fa-eye-slash" ng-click="showPost(post)" ></a>
                                    <a  class="fa  fa-edit" ng-click="editPost(post)" ></a>
                                    <a  class=" red fa  fa-remove" ng-click="deletePost(post)"></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<!-- Token Modal -->
<div class="modal  fade" id="tokenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div ng-include="template"></div>
            <div class="modal-footer">
                <span> be habby </span>
            </div>
        </div>
    </div>
</div>