<div class="animate zoomInUp">
    <style>
        .external-event {
            display: inline-block;
            cursor: move;
            margin-bottom: 5px;
            margin-left: 5px;
        }
    </style>
    <div class="x_panel">
        <div class="x_title">
            <h2> Tasks </h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="portlet light portlet-fit bordered calendar">
                <div class="portlet-body">
                    <div class="row">
                        <div class="row" id="remove">
                            <!-- BEGIN DRAGGABLE EVENTS PORTLET-->
                            <h3 class="text-center">ALL Posts</h3>
                            <a  ng-click="savePosts()" class=" btn btn-primary btn-sm pull-right nodecoration">Save</a>
                            <a  ng-click="initEvents()" class=" btn btn-primary btn-sm pull-right nodecoration">init</a>

                            <div id="external-events" >

                                <div id="event_box" class=" col-md-10 col-md-offset-1 well well-sm" style="min-height: 100px;" >

                                </div>
                                <!-- END DRAGGABLE EVENTS PORTLET-->
                            </div>
                            <hr>
                        </div>
                        <br/><br/>
                        <div class="row" id="drag">
                            <div ui-calendar="uiConfig.calendar" id="calendar" class="span8 calendar"
                                 ng-model="eventSources" calendar="myCalendar"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>