<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Token Nameqsq</label>
    <div class="col-sm-10">
        <input type="text" ng-model="token.name" class="form-control" id="name" placeholder="Token Name Here"/>
        <span class="text-danger" ng-show="error.name[0]" > {{error.name[0]}} </span>
    </div>
</div>
<div class="form-group">
    <label for="text" class="col-sm-2 control-label">Token Text</label>
    <div class="col-sm-10">
        <input type="text" ng-model="token.text" class="form-control" id="text" placeholder="Token text Here "/>
        <span class="text-danger" ng-show="error.text[0]" > {{error.text[0]}} </span>
    </div>
</div>
<div class="form-group">
    <label for="app_id" class="col-sm-2 control-label"> Facebook App</label>
    <div class="col-sm-10">
     <select ng-model="token.app_id" id="app_id" class="form-control">
         <option ng-selected="{{app.id == token.app_id}}" ng-repeat="app in apps" value="{{app.id}}">
              {{app.name}}
       </option>
     </select>
        <span class="text-danger" ng-show="error.app_id[0]" > {{error.app_id[0]}} </span>
     </div>
</div>

<div class="form-group">
    <label for="page_id" class="col-sm-2 control-label"> Facebook Page</label>
    <div class="col-sm-10">
     <select ng-model="token.page_id" id="page_id" class="form-control">
         <option ng-selected="{{page.id == token.page_id}}" ng-repeat="page in pages" value="{{page.id}}" placeholder="just to scrape">
              {{page.name}}
       </option>
     </select>
     </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>