<div class="x_panel">
    <div class="x_title">
        <button ng-click="show=!show" class="btn btn-sm btn-primary pull-right">Advance search</button>
        <div class="clearfix"></div>
    </div>
    <div class="x_content" ng-show="show">
        <div class="col-md-10">
            <div class="row">

                <h4>Pages search :</h4>

                <div class="clearfix"></div>
                <form class="form-horizontal">
                    <div class="form-group  ">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> ALL Pages
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">by Page Name</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="page name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Select pages</label>

                        <div class=" col-sm-10">
                            <div class="checkbox">
                                <label class="checkbox-inline" ng-repeat="page in pages">
                                    <input type="checkbox" id="{{page.name}}" value="{{page.name}}"> {{page.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <hr/>
            <div class="row">
                <h4>search content type:</h4>

                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="optionsRadios" value="option1" checked>
                        video
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="optionsRadios" value="option1" checked>
                        video
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        link
                    </label>
                </div>
                <div class="radio radio-inline ">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                        photo
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>