<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Page Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="page.name" class="form-control" id="name" placeholder="Page Name Here"/>
        <span class="text-danger" ng-show="error.name[0]" > {{error.name[0]}} </span>
    </div>
</div>
<div class="form-group">
    <label for="page_id" class="col-sm-2 control-label">Page id</label>
    <div class="col-sm-10">
        <input type="text" ng-model="page.page_id" class="form-control" id="page_id" placeholder="Page ID Here "/>
        <span class="text-danger" ng-show="error.page_id[0]" > {{error.page_id[0]}} </span>
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">Select Page Type </label>
        <div class="checkbox col-sm-10">
            <label><input type="checkbox" ng-model="page.to_scrap" ng-true-value="1" ng-false-value="0">To Scrap </label>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>