<div class="animate zoomInUp ">
    <div class="x_panel">
        <div class="x_title">
            <h2> Access Token Section </h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <a  ng-click="createPage()" class=" btn btn-primary btn-sm pull-right nodecoration">Add New Facebook Page</a>
            <table class="table ">
                <tr>
                    <td><h3>ALL Facebook Page</h3></td>
                    <td></td>
                </tr>
                <tr ng-repeat="page in pages">
                    <td>{{page.name}}</td>
                    <td>
                        <a class="btn btn-primary" ng-click="editPage(page)">Edit</a>
                        <a class="btn btn-danger"  ng-click="deletePage(page)">Delete</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<!-- Token Modal -->
<div class="modal modal-lg fade" id="tokenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div ng-include="template"></div>
            <div class="modal-footer">
                <span> be habby </span>
            </div>
        </div>
    </div>
</div>