.object-table-module.dark-sky .back-cover {
    background-color: #333742
}

.object-table-module.dark-sky .back-cover table {
    color: #9ca0a9
}

.object-table-module.dark-sky .back-cover table.table {
    border: 1px #24272f;
    border-bottom: 5px solid #009ad5
}

.object-table-module.dark-sky .back-cover table.table-bordered > tbody > tr > td {
    border: 1px solid #24272f
}

.object-table-module.dark-sky .back-cover table.object-table thead tr {
    background-color: #009ad5;
    color: #333742
}

.object-table-module.dark-sky .back-cover table.object-table thead tr th {
    border: 1px solid #333742
}

.object-table-module.dark-sky .back-cover table tbody tr.selected-row td {
    background-color: rgba(156, 156, 159, .56);
    color: #00b1f5
}

.object-table-module.dark-sky .back-cover table tbody tr:hover {
    background-color: rgba(0, 154, 213, .19);
    color: #fff
}

.object-table-module.dark-sky .back-cover table tbody tr td[editable] span:focus {
    padding: 3px;
    margin: -5px;
    font-weight: 700;
    border: 2px dotted #009ad5;
    background-color: #d7d7d7
}

.object-table-module.dark-sky .sorting-badge {
    color: #333742;
    background-color: #009ad5;
    cursor: pointer
}

.object-table-module.dark-sky .sorting-badge:hover {
    background-color: rgba(0, 154, 213, .7);
    color: #333742
}

.object-table-module.dark-sky.hover-column table tbody td:hover::before {
    background-color: rgba(0, 154, 213, .19)
}

.object-table-module.dark-sky .search {
    background-color: rgba(239, 239, 239, .9);
    color: #333742;
    border: 2px solid #009ad5;
    box-shadow: inset 0 1px 5px rgba(51, 55, 66, .67)
}

.object-table-module.dark-sky .search:focus {
    box-shadow: none
}

.object-table-module.dark-sky .search.separate {
    color: #333742;
    border: 1px solid #0076a3;
    box-shadow: none
}

.object-table-module.dark-sky .count {
    background-color: #5d7187;
    color: #6fd7ff
}

.object-table-module.dark-sky .count .records {
    color: #333742
}

.object-table-module.dark-sky .pagination > li.active > a {
    color: #000;
    background-color: #009ad5;
    top: -3px;
    height: 35px;
    padding-top: 6px
}

.object-table-module.dark-sky .pagination > li a {
    padding: 3px 12px;
    color: #2b334a;
    background-color: #5d7187;
    border: 1px solid #2b334a
}
